.item-card {
  @include box-shadow($card-shadow);
  @include animation(fadeIn 1s);
  position: relative;
  background: $card-bg;
  width: $card-width;

  .item-body {
    padding: 10px;
    position: relative;

    img {
      width: 800px;
      height: 250px;
    }
  }

  .item-footer {
    border-top: 1px solid $gray-lighter;
    padding: 5px;
    background-color: $card-footer-bg;
  }
}
