$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: '../../bower_components/font-awesome/fonts';

// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import 'font-awesome/scss/font-awesome.scss';
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'general/_vars.scss';
@import 'general/_vcore.scss';
@import 'modules/_item-details.scss';
@import 'pages/_footer.scss';
@import 'pages/_home.scss';
// endinjector


body {
  padding: 0;
}

