.boot-form-main {
	border: 1px solid #ccc;
	border-bottom: none;
	min-height: 10px;
	width: 350px;
	display: none;
	background: rgba(100, 150, 250, 0.8);
	color: #fff;
	position:fixed;
	bottom: 0;
	right: 0;
}
.boot-form-main a:hover {
	color: #fafafa;
}
.boot-form-header-wrapper {
	text-align: center;
}
.boot-form-header {
	margin-top: 0px;
	color: #fff !important;
}
.boot-form-container {
	padding: 20px;
}
.boot-form {
}
.boot-form-clear {
	clear: both;
}
.boot-form-button-container {
	float: right;
	margin-right: 10px;
}
.boot-form-button {
	margin-right: 5px;
}
.boot-form-element {
	width: 100%;
	padding: 5px;
}
.boot-form-element-wrapper {
	margin: 10px;
}
.bootform-element-search {
}
.bootform-element-password {
}
.bootform-element-username {
}
.bootform-element-btn-submit {
	background: rgba(0, 50, 100, 0.8);
	border: 1px solid #C6C6C6;
}
.bootform-element-btn-submit:hover {
	background: rgba(20, 75, 150, 0.8);
	border: 1px solid #C6C6C6;
}
.bootform-element-btn-cancel {
	background: rgba(150, 50, 100, 0.8);
	border: 1px solid #C6C6C6;
}
.bootform-element-btn-cancel:hover {
	background: rgba(180, 90, 130, 0.8);
	border: 1px solid #C6C6C6;
}
.boot-form-toggle-element-wrapper {
}
.boot-form-toogle-element {
	margin-left: 2px;
	padding: 5px;
	border: 1px solid #CCC;
	border-bottom: none;
	padding-top: 2px;
	background: rgba(100, 150, 250, 0.8);
	color: #fff;
	position:fixed;
	bottom: 0;
	right: 0;
}
.boot-form-toogle-element-open {
	color: #fff;
}
.boot-form-toogle-element-open:hover {
	color: #fff;
}
.boot-form-toogle-element-close {
	display: none;
}
.boot-form-social-container{
}
.boot-form-social-img {
	border: none;
	cursor: pointer;
}
.boot-form-social-close {
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0, 50, 100, 0.8);
	padding: 0px 5px;
	cursor: pointer;
}
.boot-form-social-img-link {
	text-decoration: none;
}