@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

.breadcrumb {
  margin-bottom: 0px;
  @include border-radius(0);
  border: 1px solid $gray-lighter;
  background-color: #19b1f9;
  color: #f6f6f6;
}

.filter-box {
  border: 1px solid $gray-lighter;
  padding-top: 10px;
  background: $white;
}

.items-holder {
  background: $gray-lighter;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.angular-google-map-container {
  height: 500px;
}

.small-range-box {
  width: 75px !important;
}
